<p class="mobile-videos-text">Videos created with Melt</p>

<div class="mobile-video-player-row">
	<div>
		<%= video_tag(["https://igcdn-videos-d-10-a.akamaihd.net/hphotos-ak-xaf1/t50.2886-16/11019604_941691085843750_205891334_n.mp4"], 
			:size => "400x400", 
			:controls => false, 
			:poster => 'video_too_delicious.jpg',
			:id => 'too-delicious',
			:class => 'mobile-video') %>
		<div class="web-round-controller" id="too-delicious-controller" onclick="toggleMobileVideo('too-delicious');">
			<%= image_tag('play_btn.png') %>	
		</div>
	</div>
	<div>
		<%= video_tag(["https://igcdn-videos-f-8-a.akamaihd.net/hphotos-ak-xaf1/t50.2886-16/10814845_1579793458935308_557263697_n.mp4"], 
			:size => "400x400", 
			:controls => false, 
			:poster => 'video_look_up.jpg',
			:id => 'look-up',
			:class => 'mobile-video') %>
		<div class="web-round-controller" id="look-up-controller" onclick="toggleMobileVideo('look-up');">
			<%= image_tag('play_btn.png') %>	
		</div>
	</div>
	<div class="clear"></div>
</div>

<div class="mobile-video-player-row">
	<div>
		<%= video_tag(["https://igcdn-videos-b-1-a.akamaihd.net/hphotos-ak-xfa1/t50.2886-16/11020967_945598028791221_948759170_n.mp4"], 
			:size => "400x400", 
			:controls => false, 
			:poster => 'video_some_color.jpg',
			:id => 'some-color',
			:class => 'mobile-video') %>
		<div class="web-round-controller" id="some-color-controller" onclick="toggleMobileVideo('some-color');">
			<%= image_tag('play_btn.png') %>	
		</div>
	</div>
	<div>
		<%= video_tag(["https://igcdn-videos-b-1-a.akamaihd.net/hphotos-ak-xfa1/t50.2886-16/11020967_945598028791221_948759170_n.mp4"], 
			:size => "400x400", 
			:controls => false, 
			:poster => 'video_some_color.jpg',
			:id => 'some-color-2',
			:class => 'mobile-video') %>
		<div class="web-round-controller" id="some-color-2-controller" onclick="toggleMobileVideo('some-color-2');">
			<%= image_tag('play_btn.png') %>	
		</div>
	</div>
	<div class="clear"></div>
</div>

<script type="text/javascript">

	function toggleMobileVideo(srcID) {
		var video = $('#'+srcID)[0];
		var controller = $('#'+srcID+'-controller');
		
		$('.mobile-video').each(function(){
			$(this)[0].pause();
		})
		
		$('.web-round-controller').each(function(v){
			$(this).css('-webkit-transform-style','preserve-3d');//fadeIn(200);
		})
		
		controller.css('-webkit-transform-style','flat');//fadeOut(200);
		video.play();
	    
	    video.onended = function(e) {
			controller.css('-webkit-transform-style','preserve-3d');//fadeIn(200);
	    }
	    
	     video.onpause = function(e) {
			controller.css('-webkit-transform-style','preserve-3d');//fadeIn(200);
	    }
		
	}
	
	$('.mobile-video').click(function(){
		$(this)[0].pause();
		$('#'+this.id+'-controller').css('-webkit-transform-style','preserve-3d');//fadeIn(200);
	})
	

</script>