<div class="side-div">
	<%= image_tag('melt_icon.png', class: 'melt-icon-web') %>
	<%= image_tag('melt_hand_model.png', class: 'melt-hand-model') %>
	<div class="melt-phone-screen-web-container">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="1500">
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<%= image_tag('scroll_1.jpg', class: 'melt-phone-screen-web') %>
				</div>
				<div class="item">
					<%= image_tag('scroll_2.jpg', class: 'melt-phone-screen-web') %>
				</div>
				<div class="item">
					<%= image_tag('scroll_3.jpg', class: 'melt-phone-screen-web') %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="content-div">
	<div class="content-div-inner">
	
		<%= render 'email' %>
		
	</div>
</div>