<div class="web-container">

	<div class="web-side-div">
		<%= render 'web_phone' %>
	</div>
	
	<div class="web-content-div">
		<div class="web-content-div-inner">
			<%= render 'web_main_text' %>
			<%= render 'web_email' %>
			<%= render 'web_videos' %>
		</div>
	</div>
	
</div>

<div class="mobile-container">
	
	<div class="mobile-inspiration-container">
		<%= render 'mobile_main_text' %>
		<%= render 'mobile_email' %>
	</div>
	
	<div class="mobile-phone-container">
		<%= render 'mobile_phone' %>
	</div>
	
	<div class="mobile-videos-container">
		<%= render 'mobile_videos' %>
	</div>
	
</div>